@import '../../styles/mixins';


#footer{

    .footer-top-img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 6em 6em 3em 6em;
        height: 70vh;
        text-align: center;
        position: relative;
        overflow: hidden;
        .bg-img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height:100%;
            z-index: -1;
            @include respond-from(md) {
                animation: scaler 10s ease-in-out infinite alternate;
                background-attachment: fixed;
            }
        }
        .footer-overlay {
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height:100%;
            z-index: -1;
        }

        @include respond-until(sm) {
            padding: 5em 2em 6em 2em;
            height: auto;
            transform: unset;
        }

        .footer-bg-title h2{
            font-size: 112px;
            letter-spacing: -0.03em;
            color: #fff;
            font-weight: 900;
            @include respond-until(s) {
                font-size: 3em;
                line-height: 1;
            }
            @include respond-from(sm) {
                font-size: 4em;
                line-height: 1;
            }
            @include respond-from(lg) {
                font-size: 6em;
            }
        }

        .footer-bg-desc{
            @include respond-until(sm) {
                margin-top: 20px;
            }
            a.get-in-touch-btn{
                // background-color: #3772ff;
                text-decoration: none;
                font-size: 14px;
                color: #fff;
                font-weight: 500;
                padding: 1.05em 2.15em;
            }
        }
        .footer-bg-desc p{
            font-family: 'loraregular';
            font-weight: 400;
            font-size: 35px;
            letter-spacing: -0.04em;
            color: #fff;
            margin-bottom: 50px;
            @include respond-until(s) {
                font-size: 28px;
            }
            @include respond-from(sm) {
                font-size: 35px;
                line-height: 1;
            }
        }
    }

    .footer-middel-content-wrapper {
        background-color: #141618;
        display: flex;
        flex-wrap: wrap;
        padding: 8em 2em 6em 2em;
        @include respond-until(sm) {
            display: block;
            padding: 3em 2em 2em 2em;
            text-align: center;
        }

        .footer-col{
            flex-grow: 1;
            width: 25%;
            padding: 0 20px;
            @include respond-until(sm) {
                width: 100%;
            }

            .footer-title h3{
                font-size: 12px;
                color: #fff;
                font-weight: 500;
                font-style: italic;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                margin-bottom: 20px;
                @include respond-until(sm) {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }

            .footer-desc p{
                color: #ffffff80;
                line-height: 24px;
                font-size: 12px;
                font-weight: 600;
            }

            .footer-social-icons {
                margin-top: 20px;

                ul.footer-social-icon-wrap{
                    display: flex;
                    justify-content: flex-start;

                    @include respond-until(sm) {
                        justify-content: center;
                    }

                    li.footer-social-list-item{
                        padding: 0 25px 10px 0;
                        font-size: 15px;
                        a{
                            color: #777777;
                        }
                    }
                }
            }

            .footer-quick-links{
                ul.quick-links-wrap{
                    li.quick-link-listitem{
                        line-height: 25px;
                        a{
                            color: #777777;
                            font-size: 12px;
                            font-weight: 500;
                        }
                        :hover{
                            color: #3772ff;
                        }

                    }
                }
            }

            .footer-services{
                ul.footer-services-wrap{
                    li.footer-services-listitem{
                        line-height: 25px;
                        a{
                            color: #777777;
                            font-size: 12px;
                            font-weight: 500;
                        }
                        :hover{
                            color: #3772ff;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom-content-wrapper{
        background-color: #131416;

        .footer-gridline{
            border-top: 1px solid #fff;
            margin: 0 50px;

            @include respond-until(sm) {
                border-top: unset;
            }
        }

        .footer-bottom-content-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 50px 30px 50px;

            @include respond-until(sm) {
                display: block;
                text-align: center;
                padding: 15px 20px 15px 20px;
            }

            .footer-copyright-text p{
                font-size: 11px;
                color: #fff;
                font-weight: 400;
            }
            .footer-bottom-social-icon{
                ul.footer-social-icon-wrap{
                    display: flex;
                    @include respond-until(sm) {
                        justify-content: center;
                    }
                    li.footer-social-list-item{
                        padding: 0 20px 10px 0;

                        a{
                            font-size: 15px;
                            color: #777777;
                        }
                    }
                }
            }
        }
    }
} 

@keyframes scaler {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.3);
    }
}
.patterns {
    height: inherit;
    @include respond-until(sm) {
        display: none;
    }
}
.mobile-text {
    display: none;
    @include respond-until(sm) {
        display: block;
    }
}
.animated-text text {
    // font-family: Lora;
    letter-spacing: 10px;
    stroke: #ffffff;
    font-size: 5em;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(0, 0%, 98%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
      //      fill: hsla(222, 100%, 61%,0%)

    }
    
  }